body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
   background-color: rgb(190, 178, 155);
}
header {
    background-color: rgb(204, 204, 177);
    padding: 20px 0;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20px;
    justify-content: center;
}

h1 {
    color: rgb(84, 81, 81);
    font-size: 45px;
    font-weight: 300 bold;
    font-style: italic;
    display: inline-flex;
    bottom: 20px;
    margin-left: 15px;
}
nav {
    background-color: rgb(199, 179, 126);
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 100px;
    padding-top: 8px;
}
nav ul li {
    flex-grow: 1;
}
nav ul li a {
    color: rgb(84, 81, 81);
}
nav ul li a:hover{
    color: beige;
}
nav ul li a.activo {
    color: rgb(104, 72, 13);
}
.holder{
    max-width: 950px;
    margin: 0 auto;
}
#contcarrusel{
    height: 700px;
    overflow-y: hidden;
}
.carrusel{
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
.carrusel img{
    height: 700px;
}

.flechas{
    position: absolute;
    width: 75%;
    display: flex;
    justify-content: space-between;
    padding-top: 65%;
}
.carrusel .flechas a{
    color: bisque;
}
.carrusel .flechas i:hover{
    transform: scale(1.5);
    color: rgb(123, 121, 117);
}
footer{
    background-color:rgb(194, 181, 146);
    clear: both;
    padding: 5px;
    margin-top: 0;
    border-top: 5px rgb(212, 205, 205) solid;

}
footer .columna{
    display: flex;
    justify-content: space-around;
}
footer .columna ul{
    list-style: none;
    font-size: 17px;   
}
footer .columna .informacion{
    line-height: 40px;
}

